%h1 Sample
%p main

- if flash[:errors].present?
  %ul
    - flash[:errors].each do |k, v|
      %li="#{k}: #{v}"

%form{:action => '/', :method => 'post'}
  %div
    %input{:type => 'text', :name => 'message'}
  %div
    %input{:type => 'submit', :value => 'Send'}

- if messages.length > 0
  %ul
    - for message in messages
      %li=message.message